<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>Item details</h2>
    <form action="/listings/edit/<%=item._id%>" method="post">
    <p>Title: <input type="text" name="Listing[title]" value="<%=item.title%>"></p>
    <p>Description: <input type="text" name="Listing[description]" value="<%=item.description%>"></p>
    <p>Image URL: <input type="text" name="Listing[imageUrl]" value="<%=item.imageUrl%>"></p>
    <p>Price: <input type="number" step="0.01" name="Listing[price]" value="<%=item.price%>"></p>
    <p>Location: <input type="text" name="Listing[location]" value="<%=item.location%>"></p>
    <p>Country: <input type="text" name="Listing[country]" value="<%=item.country%>"></p>
    <button type="submit">Save</button>
</form>
</body>
</html>