<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Listing Details: </h3>
    <ul>
        <li><%=item.title%></li>
        <li><%=item.description%></li>
        <li>$ <%=(item.price).toLocaleString()%></li>
        <li><%=item.location%></li>
        <li><%=item.country%></li>

        <form action="/listings/edit/<%=item._id%>" method="GET">
            <button>Edit</button>
        </form>
        <form action="/listings/delete/<%=item.id%>" method="GET">
            <button>Delete</button>
        </form>
        
    </ul>
</body>
</html>