<%layout("/layouts/boilerplate")%>
<body>
    
    <div class="card show-card mt-5" style="width: 90%; height: 35rem;">
    <h3>Listing Details</h3>
    <img src="<%=item.imageUrl%>" class="card-img-top" style="height: 20rem;"alt="listing-image">
    <div class="card-body">
        <p class="card-text">
            <b><%=item.title%></b>
            <br>
            <%=item.description%>
            <br>
            $<%= item.price ? item.price.toLocaleString() : 'N/A' %>

            <br>
            <%=item.location%>
            <br>
            <%=item.country%>
        </p>
  </div>
  <div class="listing-btn">
    <form action="/listings/edit/<%=item._id%>" method="get">
    <button class="btn btn-dark add-btn">Edit</button>
    </form>
    <form action="/listings/delete/<%=item._id%>" method="get">
    <button class="btn btn-dark">Delete</button>
  </form>
  </div>
</div>
    
</body>
